
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^radioplayer\.donbarto\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.radioplayer\.donbarto\.com$
RewriteRule ^(.*)$ "https\:\/\/radioplayer\.donbarto\.com\/$1" [R=301,L]

